#!/usr/bin/make -f

DEB_KDE_LINK_WITH_AS_NEEDED := yes

# See debian/patches/01_aboutdata_add_debian_version.diff
DEBIAN_PACKAGE_VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | sed 's/^Version:[[:space:]]*\([^[:space:]]\+\).*$$/\1/')
DEB_CMAKE_CUSTOM_FLAGS += -DDEBIAN_PACKAGE_VERSION="$(DEBIAN_PACKAGE_VERSION)"

include debian/debhelper/kde4.mk
