#!/usr/bin/make -f

DEB_KDE_LINK_WITH_AS_NEEDED := yes

# See debian/patches/01_aboutdata_add_debian_version.diff
DEBIAN_PACKAGE_VERSION := $(shell dpkg-parsechangelog | grep '^Version:' | sed 's/^Version:[[:space:]]*\([^[:space:]]\+\).*$$/\1/')
DEB_CMAKE_CUSTOM_FLAGS += -DDEBIAN_PACKAGE_VERSION="$(DEBIAN_PACKAGE_VERSION)"
DH = dh --with quilt

include debian/debhelper/kde.mk

ifneq (,$(shell which tg))
QUILT_PATCH_DIR := debian/patches
TG_BRANCHES := $(filter-out debian/aboutdata_add_debian_version,$(shell tg summary -t))
include /usr/share/topgit/tg2quilt.mk
endif

override_dh_install:
	dh_install
	# Install scripts README (and rename)
	if [ -d debian/konversation ]; then \
	    cp -a data/scripts/README debian/konversation/usr/share/doc/konversation/README.scripts; \
	fi
